{% extends 'base.html' %}

{% block titulo %} Crea alta {% endblock %}

{% block resumen %} <!-- esta línea es Jinja, abajo es html-->

<h1 style="color:black;"> Nuevo ingreso </h1>

    <form action="/creaalta" method="POST">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.fecha.label }}
            {{ form.fecha(type="date") }}
            {% for msg in form.fecha.errors %}
                <p class="err-msg">
                    <span style="color: red;">[{{ msg }}]</span>
                </p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.concepto.label }}
            {{ form.concepto(placeholder='Definir ingreso') }}
            {% for msg in form.concepto.errors %}
                <p class="err-msg">
                    <span style="color: red;">[{{ msg }}]</span>
                </p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.cantidad.label }}
            {{ form.cantidad(placeholder='Escribe un número') }}
            {% for msg in form.cantidad.errors %}
                <p class="err-msg">
                    {{ msg }}
                </p>
            {% endfor %}
        </div>
        <div class="field">
            {{ form.submit }}
        </div>  
    </form>
    {%  endblock %}