<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Kakebo - {% block titulo %}{% endblock %}</title>

</head>
<body>
    <header>
        <p>Proyecto: Kakebo</p>
    </header>

    <section>
        {% block resumen %}{% endblock %} <!--"resumen" es el nombre del bloque tanto para movementsList.html como para alta.html. Si cambio el nombre no funciona.-->
    </section>

    <br><br>
    <footer>
        &copy; 2020 - 2021 Todos los derechos reservados
    </footer>

</body>
</html>