<!---crear aquí un formulario
# para poder cambiar las variables de la tabla movimientos -->

{% extends 'base.html' %}

{% block titulo %} Modificar {% endblock %}

{% block resumen %} <!-- esta línea es Jinja, abajo es html-->
    <h1> Registro seleccionado </h1> 
    <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Importe</th>
            </tr>
            <tr>
                <td> {{ datomodificado[0] }} </td> 
                <td> {{ datomodificado[1] }} </td> 
                <td> {{ datomodificado[2] }} </td> 
            </tr>
    </table>

    <br>
    <form action="/modifica/{{datomodificado[3]}}" method="POST">
        <div class="field">
            <input type="submit" value="Eliminar registro"> 
        </div>
    </form>

    <h1> Campos para modificar </h1> 
    <form action="/modifica/{{datomodificado[3]}}" method="POST">
        <div class="field">
            <label for="fecha">Fecha:</label>
            <input type="date" name="fecha" required value="{{datomodificado[0]}}"> 
        </div>

        <div class="field">
            <label for="concepto">Concepto:</label>
            <input type="text" name="concepto" required value="{{datomodificado[1]}}">
        </div>

        <div class="field">
            <label for="cantidad">Cantidad:</label>
            <input type="number" name="cantidad" step="0.01" min="0.00" required value="{{datomodificado[2]}}">           
        </div>

        <br>
        <div class="field">
            <input type="submit" value="Modificar"> <!-- tipo submit, envía los datos entrados arriba -->
        </div>
    </form>  

{% endblock %}