<!---crear aquí un formulario
# para poder cambiar las variables de la tabla movimientos -->

{% extends 'base.html' %}

{% block titulo %} Modificar {% endblock %}

{% block resumen %} <!-- esta línea es Jinja, abajo es html-->
    <h1> ¿Eliminar el registro seleccionado? </h1>
    <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>Importe</th>
            </tr>
            <tr>
                <td> {{ form.fecha.data }} </td> 
                <td> {{ form.concepto.data }} </td> 
                <td> {{ form.cantidad.data }} </td> 
            </tr>
    </table>

    <br>
    <form action="/delete/{{ id }}" method="POST">
        <div class="field">
            <input type="submit" value="Eliminar registro"> 
        </div>
    </form>
<br>
    <h1> ¿Modificar el registro seleccionado?</h1> 
    <h4>Introduzca los nuevos datos en cada campo</h4>
        <form action="/modifica/{{ id }}" method="POST">
        {{ form.hidden_tag() }}  <!---  muy importante para que funcione el form.validate() --->

        <div class="field"> <!--- crea un campo --->
            {{ form.fecha.label }} <!--- usa el label del "form" en el campo --->
            {{ form.fecha }} <!--- usa la info de form.fecha para rellenar el campo --->
            {% for msg in form.fecha.errors %}
            <p class="err-msg">
                {{ msg }}
            </p>
            {% endfor %}
        </div>

        <div class="field"> <!--- División html tipo "campo" -->
            {{ form.concepto.label }}
            {{ form.concepto }}
            {% for msg in form.concepto.errors %}
            <p class="err-msg">
                {{ msg }}
            </p>
            {% endfor %}
        </div>

        <div class="field">
            {{ form.cantidad.label }}
            {{ form.cantidad }}
            {% for msg in form.cantidad.errors %}
            <p class="err-msg">
                {{ msg }}
            </p>
            {% endfor %}
        </div>

        <br>
        <div class="field">
            {{ form.submit }} <!-- tipo submit, envía los datos entrados arriba -->
        </div>
    </form>  

{% endblock %}